<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div>

            {% if user.is_authenticated %}
            <a href="{% url 'note' %}">
                <h1>TAKE NOTE</h1>
            </a>

            {% else %}
            <a href="{% url 'home' %}">
                <h1>TAKE NOTE</h1>
            </a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'new_note' %}">New note</a>
        {% endif %}
    </header>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}


    <div>
        {% block content %}

        {% endblock content %}
    </div>

</body>

</html>